<div class="container">
<div class="panel panel-default" style="margin-top:150px">

  <p>
  <h2>Content</h2>
  <br>
  <%= @message.content %>
  </p>

  <p>
  <strong>Status:</strong>
  <%= @message.status %>
  </p>

  <%= link_to 'Back', messages_path, class: "btn btn-success"%>

</div>
</div>
